folium==0.15.1
geopandas==0.14.3
geopy==2.4.1
ipywidgets==8.1.2
jupyterlab==4.1.2
jupyterlab-dash==0.1.0a3
matplotlib==3.8.3
numpy==1.26.4
pandas==2.2.1
psycopg2-binary==2.9.7
python==3.12.2
python-dotenv==1.0.1
seaborn==0.13.2
sqlalchemy==2.0.15
